<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="../../resources/css/css/nav_style.css">
    <link rel="stylesheet" href="../../resources/css/css/footer.css">
    <link rel="stylesheet" href="../../resources/css/css/tittle-name.css">
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../imagenes/Logo_streetwear.jpg">
</head>

<body class="d-flex flex-column min-vh-100">
    <main>
        <h1 class="custom-title-General">Clients</h1>

        <div class="container flex-grow-1">

            <p class="custom-text">Manage clients</p>
            <form id="searchForm">


                <div class="input-group mt-3">
                    <input type="search" class="form-control" placeholder="Search" aria-label="Search"
                        aria-describedby="button-addon2" id="search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"> Search </button>
                    </div>
                </div>
            </form>

            <div class="container">
                <br>
                <!--Crear Cliente Boton-->
                <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal"
                    data-bs-target="#crearClientModal">
                    <i class="fas fa-plus"></i>Create clients
                </button>
                <br>
                <!--Crear tabla-->
                <table class="table">
                    <thead>
                        <!--Campos de la tabla-->
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Address</th>
                            <th scope="col">Email</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        <tr>
                            <td><img src="../../imagenes/logo_clients.png" alt="Image"
                                    style="width: 100px; height: 100px;">
                            </td>
                            <td>Jesús Cortés</td>
                            <td>7581-7784</td>
                            <td>jhayco</td>
                            <td>jhayco12@gmail.com</td>
                            <td>
                                <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#editarClientModal">
                                    <img src="../../imagenes/logo_editar.png" alt="" width="50px" height="50px">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#eliminarClientModal">
                                    <img src="../../imagenes/logo_eliminar.png" alt="" width="50px" height="50px">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!--Crear Cliente-->
            <div class="modal fade" id="crearClientModal" tabindex="-1" aria-labelledby="crearClientModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="crearClientModalLabel">Create client</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="formCreate">

                            <div class="modal-body">
                                <!--Campos de Cliente-->
                                <div class="mb-3">
                                    <label for="nombreClient" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="nombreClient" name="nombreClient">
                                </div>
                                <div class="mb-3">
                                    <label for="apellidoClient" class="form-label">Last name</label>
                                    <input type="text" class="form-control" id="apellidoClient" name="apellidoClient">
                                </div>
                                <div class="mb-3">
                                    <label for="contraseñaClient" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="contraseñaClient" name="contraseñaClient">
                                </div>

                                <div class="mb-3">
                                    <label for="telefonoClient" class="form-label">Phone number</label>
                                    <input type="text" class="form-control" id="telefonoClient" name="telefonoClient">
                                </div>
                                <div class="mb-3">
                                    <label for="emailClient" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="emailClient" name="emailClient">
                                </div>
                                <div class="mb-3">
                                    <label for="direccionCliente" class="form-label">Address</label>
                                    <input type="tel" class="form-control" id="direccionCliente" name="direccionCliente">
                                </div>
                                <div class="mb-3">
                                    <label for="idGenero" class="form-label">Gender</label>
                                    <select class="form-select" aria-label="idGenero" id="idGenero" name="idGenero">
                                        <option selected>Select Gender</option>
                                        <option value="1">Male</option>
                                        <option value="2">Female</option>
                                        <option value="3">Anothers</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="imagenClient" class="form-label">Image</label>
                                    <input type="file" class="form-control" id="imagenClient" name="imagenClient">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <!--Editar Cliente-->

            <div class="modal fade" id="editarClientModal" tabindex="-1" aria-labelledby="editarClientModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editarClientModalLabel">Edit client</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form id="updateForm">

                            <div class="modal-body">
                                <!--Campos de Editar Cliente-->
                                <div class="mb-3">
                                    <label for="nombreClientEditar" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="nombreClientEditar" name="nombreClientEditar">
                                </div>
                                <div class="mb-3">
                                    <label for="apellidoClientEditar" class="form-label">Last name</label>
                                    <input type="text" class="form-control" id="apellidoClientEditar" name="apellidoClientEditar">
                                </div>
                                <div class="mb-3">
                                    <label for="numeroClientEditar" class="form-label">Phone Number</label>
                                    <input type="text" class="form-control" id="numeroClientEditar" name="numeroClientEditar">
                                </div>
                                <div class="mb-3">
                                    <label for="emailClientEditar" class="form-label">Email</label>
                                    <input type="text" class="form-control" id="emailClientEditar" name="emailClientEditar">
                                </div>
                                <div class="mb-3">
                                    <label for="direccionClienteEditar" class="form-label">Address</label>
                                    <input type="tel" class="form-control" id="direccionClienteEditar" name="direccionClienteEditar">
                                </div>
                                <div class="mb-3">
                                    <label for="imagenClientEditar" class="form-label">Image</label>
                                    <input type="file" class="form-control" id="imagenClientEditar" name="imagenClientEditar">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <!--Eliminar Cliente-->

            <div class="modal fade" id="eliminarClientModal" tabindex="-1" aria-labelledby="eliminarClientModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="eliminarClientModalLabel">Delete client</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to remove this client?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-danger" onclick="delet()">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="../../resources/css/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/css/js/sweetalert.min.js"></script>
    <script src="../../controllers/utils/admin.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/admin/clientes.js"></script>

</body>

</html>