<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="../../resources/css/css/nav_style.css">
        <link rel="stylesheet" href="../../resources/css/css/footer.css">
    <link rel="stylesheet" href="../../resources/css/css/login.css">
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../imagenes/Logo_streetwear.jpg">

</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-6 login">
                <div class="login-container">
                    <form>
                        <div class="form-group">
                            <h5 for="username" style="color:white;">Username</h5>
                            <main>
                                <div>
                                    <input type="text" label="name" placeholder="Insert your Username">
                                </div>
                            </main>
                            <br>
                        </div>
                        <div class="form-group">
                            <h5 for="password" style="color:white;">Password</h5>
                            <main>
                                <div>
                                    <input type="password" label="name" placeholder="Insert your Password">
                                </div>
                            </main>
                        </div>
                        <br><br>
                        <a href="../admin/home.html">
                        <button class="btn btn-light btn-block" >Login</button>
                    </a>
                     
                    </form>
                </div>
            </div>
            <div class="col-sm-12 col-md-6"></div>
        </div>
    </div>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
            <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/admin/index.js"></script>

</body>

</html>