<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="en">

<head>
    <!-- Título del documento -->
    <title>Register</title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../imagenes/Logo_streetwear.jpg">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/boostrap/boostrap-min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/boostrap/boostrap-icons.css">
    <!-- Llamada al estilo de título -->
    <link rel="stylesheet" href="../../resources/css/css/tittle-name.css">
</head>

<!-- Título del contenido principal -->
<h1 class="custom-title-General">Register</h1>

<body>
    <!-- Contenido principal del documento -->
    <main>
        
        <!-- Formulario para cambiar datos personales -->
        <form class="row g-3" id="profileForm">
            <div class="col-sm-12 col-md-6 col-lg-4 offset-lg-2">
                <label for="nombreAdministrador" class="form-label">Name</label>
                <input id="nombreAdministrador" type="text" name="nombreAdministrador" class="form-control" required>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <label for="apellidoAdministrador" class="form-label">Last name</label>
                <input id="apellidoAdministrador" type="text" name="apellidoAdministrador" class="form-control"
                    required>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 offset-lg-2">
                <label for="correoAdministrador" class="form-label">Email</label>
                <input id="correoAdministrador" type="email" name="correoAdministrador" class="form-control" required>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <label for="aliasAdministrador" class="form-label">Alias</label>
                <input id="aliasAdministrador" type="text" name="aliasAdministrador" class="form-control" required>
            </div>
            <div class="text-center">
                <a href="index.html" class="btn btn-secondary"><i class="bi bi-person-fill"></i> Save</a>
            </div>
        </form>
        <!-- Contenedor con enlace para abrir la caja de diálogo del formulario de cambiar constraseña -->
        <div class="text-center p-3">
            <button type="button" class="btn btn-secondary" onclick="openPassword()">
                <i class="bi bi-shield-lock"></i> Change password
            </button>
        </div>
        <!-- Componente Modal para mostrar el formulario de cambio de contraseña -->
        <div class="modal fade" id="passwordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <!-- Contenido del componente Modal -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalTitle">Change password</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Formulario para actualizar contraseña -->
                    <form id="passwordForm">
                        <div class="modal-body row g-3">
                            <div class="col-sm-12 col-md-6 offset-md-3">
                                <label for="claveActual" class="form-label">Actually password</label>
                                <input id="claveActual" type="password" name="claveActual" class="form-control"
                                    required>
                            </div>
                            <div class="col-12 text-center">
                                <span>NEW PASSWORD</span>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="claveNueva" class="form-label">Password</label>
                                <input id="claveNueva" type="password" name="claveNueva" class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="confirmarClave" class="form-label">Confirm password</label>
                                <input id="confirmarClave" type="password" name="confirmarClave" class="form-control"
                                    required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-secondary">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/css/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/css/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/admin/profile.js"></script>
</body>

</html>