.custom-title-caps {
  font-family: 'Vesper Libre';
  color: #FFFFFF;
  text-align: center;
  background-color: #225a74;
  padding: 20px;
}

.card {
  border: none;
}

.card .btn {
  background-color: #000;
  color: #fff;
}

.btn {
border-radius: 25px;
}