.custom-title-shoes {
    font-family: 'Vesper Libre';
    color: #FFFFFF;
    text-align: center;
    background-color: #225a74;
    padding: 20px;
  }

  .card {

    /* Establece un alto fijo para las cartas */
    .card {
      height: 300px;
    }
  
    /* Establece un ancho fijo para las cartas */
    .card {
      width: 200px;
    }
  }

.card .btn {
    background-color: #000;
    color: #fff;
}

.btn {
  border-radius: 25px;
}