.custom-title-kids {
    font-family: 'Vesper Libre';
    color: #FFFFFF;
    text-align: center;
    background-color: #2A9D8F;
    padding: 20px;

  }

  .card {
    border: none;
}

.card .btn {
    background-color: #000;
    color: #fff;
}

.btn {
  border-radius: 25px;
}
