<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="../../resources/css/cart.css">
    <link rel="stylesheet" href="../../resources/css/nav_style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../imagenes/Logo_streetwear.jpg">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">


    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                <li id="home" class="nav-item active">
                    <a class="nav-link" href="#"> Home <span class="sr-only"></span></a>
                </li>
                <script>
                    document.getElementById("home").addEventListener("click", function () {
                        // Cambiar la URL a la que quieres redirigir al usuario
                        window.location.href = "index.html";
                    }); </script>


                <li id="men" class="nav-item">
                    <a class="nav-link" href="#"> Men </a>
                </li>
                <script>
                    document.getElementById("men").addEventListener("click", function () {
                        // Cambiar la URL a la que quieres redirigir al usuario
                        window.location.href = "man.html";
                    }); </script>

                <li id="women" class="nav-item">
                    <a class="nav-link" href="#"> Women </a>
                </li>
                <script>
                    document.getElementById("women").addEventListener("click", function () {
                        // Cambiar la URL a la que quieres redirigir al usuario
                        window.location.href = "women.html";
                    }); </script>


                <li id="shoes" class="nav-item">
                    <a class="nav-link" href="#"> Shoes </a>
                </li>
                <script>
                    document.getElementById("shoes").addEventListener("click", function () {
                        // Cambiar la URL a la que quieres redirigir al usuario
                        window.location.href = "shoes.html";
                    }); </script>


                <li id="caps" class="nav-item">
                    <a class="nav-link" href="#"> Caps </a>
                </li>
                <script>
                    document.getElementById("caps").addEventListener("click", function () {
                        // Cambiar la URL a la que quieres redirigir al usuario
                        window.location.href = "caps.html";
                    }); </script>


                <li id="kids" class="nav-item">
                    <a class="nav-link" href="#"> Kids </a>
                </li>
                <script>
                    document.getElementById("kids").addEventListener("click", function () {
                        // Cambiar la URL a la que quieres redirigir al usuario
                        window.location.href = "kids.html";
                    }); </script>


                <li id="accesories" class="nav-item">
                    <a class="nav-link" href="#"> Accessories </a>
                </li>
                <script>
                    document.getElementById("accesories").addEventListener("click", function () {
                        // Cambiar la URL a la que quieres redirigir al usuario
                        window.location.href = "accessories.html";
                    }); </script>

                <!-- Card 3 <a href="#" data-toggle="modal" data-target="#cartModal">
                 <img src="../../StreetWear/imagenes/carrito_logo.png " class="card-img-top" alt="Cart" width="30" height="30">
                </a>-->
                <li id="cart" class="nav-item">
                    <a class="nav-link" href="#"> Cart </a>
                </li>
                <script>
                    document.getElementById("cart").addEventListener("click", function () {
                        // Cambiar la URL a la que quieres redirigir al usuario
                        window.location.href = "cart.html";
                    }); </script>


            </ul>
        </div>
    </div>
</nav>

<h1 class="custom-title-caps">CART</h1>

<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <div>
        <div class="row" id="cart-items">
            <!-- Los productos del carrito se mostrarán aquí -->
        </div>

    <script>
        $(document).ready(function () {
            var cart = JSON.parse(localStorage.getItem('cart')) || [];

            if (cart.length === 0) {
                $('#cart-items').html('<p>No hay productos en el carrito.</p>');
            } else {
                cart.forEach(function (product) {
                    var productHtml = `
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img src="${product.image}" class="card-img-top" alt="${product.name}">
                            <div class="card-body">
                                <h5 class="card-title">${product.name}</h5>
                                <p class="card-text">$${product.price}</p>
                            </div>
                        </div>
                    </div>
                `;
                    $('#cart-items').append(productHtml);
                });
            }
        });
    </script>
        </div>
    </main>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio público -->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/public/cart.js"></script>
</body>

</html>