<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="../../resources/css/cart.css">
    <link rel="stylesheet" href="../../resources/css/nav_style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">


    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                <li id="home" class="nav-item active">
                    <a class="nav-link" href="#"> Home <span class="sr-only"></span></a>
                </li>
                <script>
                    document.getElementById("home").addEventListener("click", function () {
                        // Cambiar la URL a la que quieres redirigir al usuario
                        window.location.href = "index.html";
                    }); </script>


                <li id="men" class="nav-item">
                    <a class="nav-link" href="#"> Men </a>
                </li>
                <script>
                    document.getElementById("men").addEventListener("click", function () {
                        // Cambiar la URL a la que quieres redirigir al usuario
                        window.location.href = "man.html";
                    }); </script>

                <li id="women" class="nav-item">
                    <a class="nav-link" href="#"> Women </a>
                </li>
                <script>
                    document.getElementById("women").addEventListener("click", function () {
                        // Cambiar la URL a la que quieres redirigir al usuario
                        window.location.href = "women.html";
                    }); </script>


                <li id="shoes" class="nav-item">
                    <a class="nav-link" href="#"> Shoes </a>
                </li>
                <script>
                    document.getElementById("shoes").addEventListener("click", function () {
                        // Cambiar la URL a la que quieres redirigir al usuario
                        window.location.href = "shoes.html";
                    }); </script>


                <li id="caps" class="nav-item">
                    <a class="nav-link" href="#"> Caps </a>
                </li>
                <script>
                    document.getElementById("caps").addEventListener("click", function () {
                        // Cambiar la URL a la que quieres redirigir al usuario
                        window.location.href = "caps.html";
                    }); </script>


                <li id="kids" class="nav-item">
                    <a class="nav-link" href="#"> Kids </a>
                </li>
                <script>
                    document.getElementById("kids").addEventListener("click", function () {
                        // Cambiar la URL a la que quieres redirigir al usuario
                        window.location.href = "kids.html";
                    }); </script>


                <li id="accesories" class="nav-item">
                    <a class="nav-link" href="#"> Accessories </a>
                </li>
                <script>
                    document.getElementById("accesories").addEventListener("click", function () {
                        // Cambiar la URL a la que quieres redirigir al usuario
                        window.location.href = "accessories.html";
                    }); </script>

                <!-- Card 3 <a href="#" data-toggle="modal" data-target="#cartModal">
                 <img src="../../StreetWear/imagenes/carrito_logo.png " class="card-img-top" alt="Cart" width="30" height="30">
                </a>-->
                <li id="cart" class="nav-item">
                    <a class="nav-link" href="#"> Cart </a>
                </li>
                <script>
                    document.getElementById("cart").addEventListener("click", function () {
                        // Cambiar la URL a la que quieres redirigir al usuario
                        window.location.href = "cart.html";
                    }); </script>


            </ul>
        </div>
    </div>
</nav>

<body>
    <div class="container">
        <h1>Cart</h1>
        <div class="row">
            <div class="col-md-8">
                <!-- Lista de productos -->
                <div class="panel panel-default">
                    <div class="panel-heading">Products</div>
                    <div class="panel-body">
                        <!-- Aquí puedes agregar los detalles de los productos -->
                        <ul>
                            <li>StreetWear Drop T-Shirt</li>
                            <li>Nike Pants</li>
                            <li>Nike dunk </li>
                            <!-- ...otros productos... -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Resumen del carrito -->
                <div class="panel panel-default">
                    <div class="panel-heading">Cart Summary</div>
                    <div class="panel-body">
                        <!-- Aquí puedes mostrar el total, los productos seleccionados, etc. -->
                        <p>Total: $100</p>
                        <button class="btn btn-primary">Complete purchase</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Enlace a Bootstrap JS (opcional) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>