<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/css/nav_style.css">
    <link rel="stylesheet" href="../../resources/css/css/kids.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../resources/css/css/footer.css">
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../imagenes/Logo_streetwear.jpg">
    <title>Kids</title>
</head>

    <!-- Navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Elementos del menú de navegación -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <!-- Opción de inicio -->
                    <li id="home" class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
                    </li>
                    <!-- Script para redireccionar a la página de inicio -->
                    <script>
                        document.getElementById("home").addEventListener("click", function () {
                            window.location.href = "index.html";
                        });
                    </script>

                    <!-- Opciones del menú -->
                    <li id="men" class="nav-item">
                        <a class="nav-link" href="#">Men</a>
                    </li>
                    <script>
                        document.getElementById("men").addEventListener("click", function () {
                            window.location.href = "man.html";
                        });
                    </script>

                    <li id="women" class="nav-item">
                        <a class="nav-link" href="#">Women</a>
                    </li>
                    <script>
                        document.getElementById("women").addEventListener("click", function () {
                            window.location.href = "women.html";
                        });
                    </script>

                 
                    <li id="kids" class="nav-item">
                        <a class="nav-link" href="#">Kids</a>
                    </li>
                    <script>
                        document.getElementById("kids").addEventListener("click", function () {
                            window.location.href = "kids.html";
                        });
                    </script>

                    <li id="shoes" class="nav-item">
                        <a class="nav-link" href="#">Shoes</a>
                    </li>
                    <script>
                        document.getElementById("shoes").addEventListener("click", function () {
                            window.location.href = "shoes.html";
                        });
                    </script>

                    <!-- Opción para el carrito -->
                    <li id="cart" class="nav-item">
                        <a class="nav-link" href="#">Cart</a>
                    </li>
                    <script>
                        document.getElementById("cart").addEventListener("click", function () {
                            window.location.href = "cart.html";
                        });
                    </script>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Título de la sección -->
    <h1 class="custom-title-kids">KID'S WEAR</h1>

    <!-- Barra de busqueda -->
    <div class="container mt-5">
        <div class="row mb-3">
            <div class="col">
                <input type="text" id="search" class="form-control" placeholder="Search">
            </div>
        </div>


<body class="d-flex flex-column min-vh-100">
    <div class="container flex-grow-1">

        <div class="py-5">
            <div class="container mt-5">
                <div class="row">
                    <!-- Card 1 -->
                    <div class="col-md-4">
                        <div class="card" style="width: 15rem;">
                            <img src="../../imagenes/kids_clothing/T-shirtKid.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">T-Shirt Nike</h5>
                                <button id="miBoton" class="btn btn-primary">$20</button>
                                <script>
                                    document.getElementById("miBoton").addEventListener("click", function () {
                                        // Cambiar la URL a la que quieres redirigir al usuario
                                        window.location.href = "product_information.html";
                                    }); </script>
                                </script>
                            </div>
                        </div>
                    </div>

                    <!-- Card 2 -->
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img src="../../imagenes/mens_clothing/hoodie_SD.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Streetwear Hoodie</h5>
                                <button id="miBoton2" class="btn btn-primary">$45</button>
                                <script>
                                    document.getElementById("miBoton2").addEventListener("click", function () {
                                        // Cambiar la URL a la que quieres redirigir al usuario
                                        window.location.href = "product_information.html";
                                    }); </script>
                            </div>
                        </div>
                    </div>

                    <!-- Card 3 -->
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img src="../../imagenes/kids_clothing/HoodieKid.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"> Hoodie Jordan</h5>
                                <button id="miBoton3" class="btn btn-primary">$60</button>
                                <script>
                                    document.getElementById("miBoton3").addEventListener("click", function () {
                                        // Cambiar la URL a la que quieres redirigir al usuario
                                        window.location.href = "product_information.html";
                                    }); </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mt-5">
                <div class="row">
                    <!-- Card 1 -->
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img src="../../imagenes/kids_clothing/jordankidS.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Short Jordan</h5>
                                <button id="miBoton4" class="btn btn-primary">$45</button>
                                <script>
                                    document.getElementById("miBoton4").addEventListener("click", function () {
                                        // Cambiar la URL a la que quieres redirigir al usuario
                                        window.location.href = "product_information.html";
                                    }); </script>
                            </div>
                        </div>
                    </div>
                    <!-- Card 2 -->
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img src="../../imagenes/kids_clothing/NikeSmiley.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"> T-shirt Nike smiley</h5>
                                <button id="miBoton5" class="btn btn-primary">$15</button>
                                <script>
                                    document.getElementById("miBoton5").addEventListener("click", function () {
                                        // Cambiar la URL a la que quieres redirigir al usuario
                                        window.location.href = "product_information.html";
                                    }); </script>
                            </div>
                        </div>
                    </div>
                    <!-- Card 3 -->
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img src="../../imagenes/kids_clothing/TshirtKids.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"> T-shirt PSG big kids</h5>
                                <button id="miBoton6" class="btn btn-primary">$20</button>
                                <script>
                                    document.getElementById("miBoton6").addEventListener("click", function () {
                                        // Cambiar la URL a la que quieres redirigir al usuario
                                        window.location.href = "product_information.html";
                                    }); </script>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Navigation</h5>
                    <p>Home</p>

                    <p>Men</p>

                    <p>Women</p>

                    <p">Shoes</p>

                        <p">Caps</p>

                            <p>Kids</p>
                            <p>Accessories</p>


                </div>
                <div class="col-md-4">
                    <h5>Talk to us</h5>
                    <p>streetwear_support@gmail.com</p>
                    <p>+503 7581-7784</p>
                </div>
                <div class="col-md-4">
                    <h5>Follow Us</h5>
                    <p>@StreetWear_Drop</p>
                </div>
            </div>
        </div>
    </footer>





    <script type="text/javascript" src="../../resources/css/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/css/js/sweetalert.min.js"></script>

</body>

</html>