<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Configuración del documento -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="../../resources/css/css/nav_style.css">
    <link rel="stylesheet" href="../../resources/css/css/shoes.css">
    <link rel="stylesheet" href="../../resources/css/css/footer.css">
    <link rel="stylesheet" href="../../resources/css/css/filter_search.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Icono de la página -->
    <link type="image/png" rel="icon" href="../../imagenes/Logo_streetwear.jpg">
    <title>Shoes</title>
</head>

<!-- Navegación -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Elementos del menú de navegación -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <!-- Opción de inicio -->
                <li id="home" class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
                </li>
                <!-- Script para redireccionar a la página de inicio -->
                <script>
                    document.getElementById("home").addEventListener("click", function () {
                        window.location.href = "index.html";
                    });
                </script>

                <!-- Opciones del menú -->
                <li id="men" class="nav-item">
                    <a class="nav-link" href="#">Men</a>
                </li>
                <script>
                    document.getElementById("men").addEventListener("click", function () {
                        window.location.href = "man.html";
                    });
                </script>

                <li id="women" class="nav-item">
                    <a class="nav-link" href="#">Women</a>
                </li>
                <script>
                    document.getElementById("women").addEventListener("click", function () {
                        window.location.href = "women.html";
                    });
                </script>


                <li id="kids" class="nav-item">
                    <a class="nav-link" href="#">Kids</a>
                </li>
                <script>
                    document.getElementById("kids").addEventListener("click", function () {
                        window.location.href = "kids.html";
                    });
                </script>

                <li id="shoes" class="nav-item">
                    <a class="nav-link" href="#">Shoes</a>
                </li>
                <script>
                    document.getElementById("shoes").addEventListener("click", function () {
                        window.location.href = "shoes.html";
                    });
                </script>

                <!-- Opción para el carrito -->
                <li id="cart" class="nav-item">
                    <a class="nav-link" href="#">Cart</a>
                </li>
                <script>
                    document.getElementById("cart").addEventListener("click", function () {
                        window.location.href = "cart.html";
                    });
                </script>
            </ul>
        </div>
    </div>
</nav>

<!-- Título de la sección -->
<h1 class="custom-title-shoes">SHOE'S WEAR</h1>

<!-- Barra de busqueda -->
<input type="text" id="search" class="form-control" placeholder="Search product">
</div>
<div class="col-md-3">
    <select id="category" class="form-select">
        <option value="">All categories</option>
        <option value="1">Clothes</option>
        <option value="2">Shoes</option>
        <option value="3">Caps</option>
        <option value="4">Accessories</option>
    </select>
</div>
<div class="col-md-3">
    <input type="number" id="minPrice" class="form-control" placeholder="Minimium price">
</div>
<div class="col-md-3">
    <input type="number" id="maxPrice" class="form-control" placeholder="Maximum price">
</div>
</div>
<div class="row" id="products">
    <!-- Aquí se cargarán los productos -->
</div>


<body class="d-flex flex-column min-vh-100">
    <div class="container flex-grow-1">

        <div class="container mt-5">
            <div class="row">
                <!-- Card 1 -->
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="../../imagenes/shoes/DunkLow.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Nike Dunk low</h5>
                            <!-- <a href="#" class="btn btn-primary">$40</a> -->
                            <button id="miBoton" class="btn btn-primary">$140</button>
                            <script>
                                document.getElementById("miBoton").addEventListener("click", function () {
                                    // Cambiar la URL a la que quieres redirigir al usuario
                                    window.location.href = "product_information5.html";
                                }); </script>
                            </script>
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="../../imagenes/shoes/air-force-1-07.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Air Force 1 07</h5>
                            <button id="miBoton2" class="btn btn-primary">$120</button>
                            <script>
                                document.getElementById("miBoton2").addEventListener("click", function () {
                                    // Cambiar la URL a la que quieres redirigir al usuario
                                    window.location.href = "product_information6.html";
                                }); </script>
                        </div>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="../../imagenes/shoes/Jordan3Fear.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"> Air Jordan 3 "FEAR"</h5>
                            <button id="miBoton3" class="btn btn-primary">$215</button>
                            <script>
                                document.getElementById("miBoton3").addEventListener("click", function () {
                                    // Cambiar la URL a la que quieres redirigir al usuario
                                    window.location.href = "product_information7.html";
                                }); </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row">
                <!-- Card 1 -->
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="../../imagenes/shoes/Jordan12cherry.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Air Jordan Retro 12</h5>
                            <button id="miBoton4" class="btn btn-primary">$200</button>
                            <script>
                                document.getElementById("miBoton4").addEventListener("click", function () {
                                    // Cambiar la URL a la que quieres redirigir al usuario
                                    window.location.href = "product_information.html";
                                }); </script>
                        </div>
                    </div>
                </div>
                <!-- Card 2 -->
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="../../imagenes/shoes/air-jordan-3-retro-craft.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Air Jordan 3 Retro Craft "Ivory"</h5>
                            <button id="miBoton5" class="btn btn-primary">$220</button>
                            <script>
                                document.getElementById("miBoton5").addEventListener("click", function () {
                                    // Cambiar la URL a la que quieres redirigir al usuario
                                    window.location.href = "product_information.html";
                                }); </script>
                        </div>
                    </div>
                </div>
                <!-- Card 3 -->
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="../../imagenes/shoes/dunk-low-mens-shoes-lHBTSj.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"> Dunk Low</h5>
                            <button id="miBoton6" class="btn btn-primary">$110</button>
                            <script>
                                document.getElementById("miBoton6").addEventListener("click", function () {
                                    // Cambiar la URL a la que quieres redirigir al usuario
                                    window.location.href = "product_information.html";
                                }); </script>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>







    <script type="text/javascript" src="../../resources/css/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/css/js/sweetalert.min.js"></script>
</body>

</html>